<!DOCTYPE html>
<html lang="en">
<head>
    <script type='text/javascript' 
        src='//platform-api.sharethis.com/js/sharethis.js#property=5b3b3edf07712f0011378417&product=sticky-share-buttons' 
        async='async'>
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
             <a class="navbar-brand"  href="/">
                <img src="../../assets/images/brand.png" width="30" height="30" class="d-inline-block align-top"><span class="brand-title ml-2">Patriot Pangan</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-bars fa-2x navbar-bars"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="map.html">Map<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="statistic.html">Statistic</a>
                    </li>
                    <li class="nav-item nav-item-admin">
                        <a class="nav-link" href="admin.html">Admin</a>
                    </li>
                    <li class="nav-item nav-item-signin">
                        <a class="nav-link nav-signin" data-toggle="modal" data-target="#authModal">
                            Sign In
                        </a>
                    </li>
                    <li class="nav-item nav-item-signout">
                        <a href="#" class="nav-link nav-signout">
                            Sign Out
                        </a>
                    </li>
                </ul>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <section class="indonesia-map">
             <div class="container">
                <div class="alert alert-info">
                    <b>Perhatian!</b>
                    <p>Gunakan lah situs ke dalam mode desktop untuk pengalaman lebih baik. 
                    <b>Klik</b> salah satu provinsi untuk mengetahui detail informasi ketahanan pengan provinsi terkait</p>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="map">
                            <div class="map__container mx-auto">

                            </div>
                            <div class="map__description">
                                <h1>Indonesia Map</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="indonesia-map-detail">
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="total-district-levels">
                            <p class="total-district-levels__title">Jumlah Kecamatan Berdasarkan Taraf</p>
                            <canvas id="total-district-levels__chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="percentage-district-levels">
                            <p class="percentage-district-levels__title">Presentasi Kerawanan Pangan</p>
                            <canvas id="percentage-district-levels__chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="total-reports">
                            <p class="total-reports__title">Total Laporan Se-Indonesia</p>
                            <canvas id="total-reports__chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="indicators">
                            <p class="indicators__title">Indikator</p>
                            <ul class="list-group indicators__lists">
                                <li class="list-group-item">Q1 Adanya Perubahan Pola Diet</li>
                                <li class="list-group-item">Q2 Adanya Pengurangan Frekuensi Makan</li>
                                <li class="list-group-item">Q3 Adanya Konsumsi Pangan Tidak Lazim</li>
                                <li class="list-group-item">Q4 Adanya Peminjaman Uang dari Tetangga</li>
                                <li class="list-group-item">Q5 Adanya Peminjaman Uang/Makanan dari Warung</li>
                                <li class="list-group-item">Q6 Sentinel Mencari Pekerjaan di Daerah Lain</li>
                                <li class="list-group-item">Q7 Terjadinya Penjualan Ternak</li>
                                <li class="list-group-item">Q8 Terjadinya Penjualan Aset Produktif</li>
                                <li class="list-group-item">Q9 Terjadinya Penggadaian Tanah</li>
                                <li class="list-group-item">Q10 Terjadinya Penjualan Tanah</li>
                                <li class="list-group-item">Q11 Sentinel Pindah (Selamanya)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="history">
                            <p class="history__title">History Ketahanan Pangan 1 Tahun Terakhir</p>
                            <canvas id="history__chart" width="400" height="400"></canvas>
                            <div class="history__legend">
                                <h4 class="history__legend--title">Keterangan</h4>
                                <hr>
                                <p class="history__legend--description">Taraf 0: Tidak Rawan</p>
                                <p class="history__legend--description">Taraf 1: Rawan Sedang</p>
                                <p class="history__legend--description">Taraf 2: Rawan Tinggi</p>
                                <p class="history__legend--description">Taraf 3: Rawan Parah</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Sign In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger alert-auth">
                    <b>Email atau password anda salah</b>
                </div>
                <form class="form-auth">
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                        <input type="email" id="email" class="form-control" placeholder="yours@email.com">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" placeholder="yours@email.com">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary form-auth__button">Login</button>
            </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
           <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>Patriot Pangan</h4>
                <p>&copy; 2018 Copyrights Patriot Pangan Devs</p>
            </div>
            <div class="social-buttons">
                <h4>Bagikan ke:</h4>
                 <a href="#" data-social="twitter" data-url="http://patriotpangan.com">
                    <i class="fa fa-2x fa-twitter-square" aria-hidden="true"></i>
                </a>
                <a href="#" data-social="facebook" data-url="http://patriotpangan.com">
                    <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="#" data-social="linkedin" data-url="http://patriotpangan.com">
                    <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="#" data-social="googleplus" data-url="http://patriotpangan.com">
                    <i class="fa fa-2x fa-google-plus-square" aria-hidden="true"></i>
                </a>
                <a href="#" data-social="pinterest" data-url="http://patriotpangan.com">
                    <i class="fa fa-2x fa-pinterest-square" aria-hidden="true"></i>
                </a>
            </div>
           
        </div>
    </footer>
</body>
</html>