@import "../../shared.scss";

.district-table {
    padding: 1.5rem;
}

.district-table__level {
    font-size: 1.25rem;
}

.modal__chart--wrapper {
    padding: 1.5rem;
    border: 1px solid #444;
    border-radius: 0.25rem;
}